html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-size: 15px;
    margin: 0 auto;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    background-image: url("/images/image-header-desktop.jpg");
    background-size: cover;
    background-position: center center;
}