html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-size: 15px;
    margin: 0 auto;
}

.section {
    max-width: 1400px;
    display: flex;
    margin: 50px 50px;

   
 
}

.section__text {
   flex-basis: 50%;
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.section__image {
 flex-basis: 50%;
 margin: 0;
 flex-wrap: wrap;
}

.section__numbers {
    display: flex;
    flex-wrap: wrap;
}